<%= form_for @video do |video| %>
  <article class="panel is-info">
    <p class="panel-heading">
      Share a Youtube movie
    </p>
    <div class="field is-horizontal">
      <div class="field-label is-normal fieldLabel">
        <label class="label">Youtube URL:</label>
      </div>
      <div class="field-body fieldBody">
        <div class="field">
          <div class="control">
            <%= video.text_field :url, class: 'input' %>
          </div>
        </div>
      </div>
    </div>
    <div class="field submitButton">
      <div class="control">
        <%= video.submit 'Share', class: 'button is-info is-fullwidth' %>
      </div>
    </div>
  </article>
<% end %>
