<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half formSection">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</section>
